* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding-left: 20px;
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #314584;
}

//HERO

a:hover,
.header select:hover {
    cursor: pointer;
}

.hero-title {
    font-size: 40px;
}

.block-title {
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.txt-describtion {
    font-weight: normal;
    line-height: 150%;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 15px;
    text-align: center;
}

.media-768 {
    display: none;
}

.hidden {
    display: none;
}

.header .header-flex,
.works .works-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header .nav {
    list-style-type: none;
    display: none;
    position: absolute;
    width: 150px;
    z-index: 99999;
    margin-left: -52px;
    text-align: center;
}


.header .nav li {
    padding-bottom: 10px;
    padding-top: 10px;
}

.header .menuToggle:hover {
    cursor: pointer;
}

.header .menuToggle {
    font-size: 30px;
}

.header select,
.header_item__button a,
.contacts_button {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 10px;
}

.header select {
    border: none;
    color: #314584;
    outline: none;
}

.header_item__button {
    border: none;
    padding: 15px;
    background: white;
    border-radius: 7px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    outline: none;
}

.hero {
    padding-top: 40px;
    padding-bottom: 100px;
    text-align: center;
}

.hero_item__button {
    margin-left: -230px;
}

.hero_item__button,
.contacts_button {
    background: #ff3946;
    border: none;
    padding: 15px 30px;
    border-radius: 20px;
    margin-right: 30px;
    color: #ffffff;
    outline: none;
}

.hero_item__button a {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}

.slick-prev:before,
.slick-next:before {
    color: #314584;
}

.slick-next {
    right: 5px;
}


//WORKS

.works .works-flex {
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
}

.works .works-flex div {
    width: 33%;
    height: auto;
}

.works .works-flex div img {
    width: 100%;
}

//CONTACT FORM
form {
    width: 70%;
    align-self: center;
}

.contact-form {
    padding-top: 100px;
    padding-bottom: 50px;
}

.contacts-flex {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form input,
.form textarea {
    border: none;
}

form p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: start;
}

form p input {
    height: 30px;
    width: 100%;
}

form textarea {
    height: 60px;
    width: 100%;
    resize: none;
    padding-top: 15px;
}

.form-flex p input,
.form textarea {
    background: #f4fafe;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding-left: 15px;
    outline-color: #314584;
}

input::placeholder,
textarea::placeholder {
    outline: none;
    color: #314584;
}

.contacts_button {
    cursor: pointer;
    margin-top: 50px;
}


//FOOTER

footer {
    background: #314584;
    text-align: center;
}

.footer {
    color: #ffffff;
    padding: 50px 20px 0px 20px;
}

.footer .nav li a {
    color: #ffffff;
}

.footer .nav li {
    display: inline;
    font-size: 17px;
}

.footer .nav li:not(:first-child) {
    padding-left: 15px;
}
//

.txt-red-color {
    color: #ff3946;
}

.txt-align-center {
    text-align: center;
}

a {
    text-decoration: none;
    color: #314584;
}

p+.block-title {
    padding-bottom: 20px;
    padding-top: 20px;
}


.txt-uppercase {
    text-transform: uppercase;
}



@media only screen and (min-width: 768px) {

    .container {
        font-size: 14px;
    }

//hero

    .hero-title {
        font-size: 62px;
    }

    .block-title {
        font-size: 35px;
    }
  
    .nav {
        padding-right: 15px;
        padding-left: 15px;
        display: inline;
        position: static;
        margin-left: 0;
    }

    .header .nav li,
    .footer .nav li {
        display: inline;
    }

    .header .nav ul li {
        display: inline;
    }

    .header .nav li:not(:first-child),
    .footer .nav li:not(:first-child) {
        padding-left: 30px;
    }

    .nav li:first-child {
        padding-left: 10px;
    }

    .media-768 {
        display: block;
    }

    .menuToggle {
        display: none;
    }

    .header select,
    .header_item__button a,
    .contacts_button {
        font-size: 14px;
    }

    .hero-flex,
    .form-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .hero-flex {
        padding-top: 40px;
        padding-bottom: 150px;
    }

    .hero_item {
        width: 50%;
    }

    .slider div img {
        width: 100%;
    }

    .hero_item__button a {
        font-size: 14px;
    }

    .hero-title+p {
        padding-bottom: 30px;
        padding-top: 30px;
        padding-right: 20px;
    }

//works

    .works-flex {
        padding-top: 60px;
        padding-bottom: 60px;
    }

//form

    .form {
        width: 100%;
    }

    .contacts_item {
        text-align: start;
    }

    .form-flex p {
        width: 50%;
    }

    .form-flex p:first-child {
        margin-right: 30px;
    }

    form p input {
        width: 100%;
        height: 55px;
    }

    form textarea {
        margin-top: 30px;
        height: 100px;
    }

    .form-flex p input,
    s .form textarea {
        font-size: 14px;
    }

//footer

    p+.block-title {
        padding-bottom: 45px;
        padding-top: 20px;
    }

    .footer .nav {
        padding-bottom: 40px;
    }
}